setuptools==70.0.0
wheel==0.45.0
python-dotenv==1.0.1
certifi
charset-normalizer
colorama==0.4.6
idna
joblib
lief==0.11.5
lightgbm
numpy==1.23.5
pandas
python-dateutil
requests
scikit-learn
scipy
six
threadpoolctl
tqdm
tzdata
urllib3
yara-python==4.5.4
flet==0.22.0
groq