certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
ember==0.1.0
idna==3.13
joblib==1.5.3
lief==0.12.3
lightgbm==4.6.0
numpy==2.4.4
pandas==3.0.2
pd==0.0.4
pip==24.0
python-dateutil==2.9.0.post0
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
setuptools==65.5.0
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.3
tzdata==2026.2
urllib3==2.7.0
yara-python==4.5.4